services:

  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
    volumes:
      - /opt/media-configs/plex:/config
      - /mnt/plexdrive/NetworkDrive/Plex Movies:/movies
      - /mnt/plexdrive/NetworkDrive/Plex Series:/tv
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bucharest
      - WEBUI_PORT=8080
    volumes:
      - /opt/media-configs/qBittorrent:/config
      - /mnt/plexdrive/NetworkDrive/downloads:/downloads
    restart: unless-stopped

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    ports:
      - 9117:9117
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bucharest
    volumes:
      - /opt/media-configs/jackett:/config
      - /mnt/plexdrive/NetworkDrive/downloads:/downloads
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    ports:
      - 7878:7878
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bucharest
    volumes:
      - /opt/media-configs/radarr:/config
      - /mnt/plexdrive/NetworkDrive/Plex Movies:/movies
      - /mnt/plexdrive/NetworkDrive/downloads:/downloads
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    ports:
      - 8989:8989
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bucharest
    volumes:
      - /opt/media-configs/sonarr:/config
      - /mnt/plexdrive/NetworkDrive/Plex Series:/tv
      - /mnt/plexdrive/NetworkDrive/downloads:/downloads
    restart: unless-stopped

  bazarr:
    image: linuxserver/bazarr
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bucharest
    volumes:
      - /opt/media-configs/bazarr:/config
      - /mnt/plexdrive/NetworkDrive/Plex Movies:/movies
      - /mnt/plexdrive/NetworkDrive/Plex Series:/tv
    ports:
      - 6767:6767
    restart: unless-stopped

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/media-configs/portainer:/data

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true         # auto-remove old images
      - WATCHTOWER_POLL_INTERVAL=21600 # check every 6 hours

  ombi:
    image: lscr.io/linuxserver/ombi:latest
    container_name: ombi
    restart: unless-stopped
    ports:
      - 3579:3579
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bucharest
    volumes:
      - /opt/media-configs/ombi:/config
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    volumes:
      - /opt/media-configs/nginx/conf.d:/etc/nginx/conf.d:ro
      - /opt/media-configs/nginx/certs:/certs:ro
    ports:
      - "80:80"
      - "443:443"
